.wrapper {
	@apply mt-[20px];
	.button {
		@apply rounded-[10px] bg-[#DE5BFF] pr-[38px] py-[9px] pl-[10px] text-[15px] font-semibold text-white flex gap-[9px] items-center hover:bg-[#DB4CFF] transition-colors duration-300;
	}
	.add-product {
		@apply mt-[53px] flex flex-col max-w-[282px] text-center items-center p-[20px] rounded-[20px];
		border: 1px dashed rgba(0, 0, 0, 0.6);
		p {
			@apply text-[12px];
			font-family: 'Mulish', serif;
		}
	}
}

@media (max-width: 869px) {
	.wrapper {
		@apply px-[40px] mt-[10px];
		.button {
			@apply rounded-[8px] text-[12px]  pl-[50px] pr-[80px] py-[3px] font-medium;
		}
		.add-product {
			@apply mt-[31px] max-w-[100%];
			p {
				@apply text-[16px] font-medium max-w-[390px] block  mt-[18px];
				font-family: 'Mulish', serif;
			}
		}
		.image {
			width: 140px;
			height: 140px;
		}
	}
}

@media (max-width: 544px) {
	.wrapper {
		@apply px-[40px] mt-[10px];
		.button {
			@apply rounded-[20px] text-[10px] pl-[10px] pr-[14px] py-[4px];
		}
		.add-product {
			p {
				@apply text-[13px];
			}
		}
		.image {
			width: 66px;
			height: 66px;
		}
	}
}
